.main-section {
  color: black;
  margin-top: 81px;
  display: flex;
  gap: 102px;
  padding: 0px 10px;
  &-left {
    flex-basis: 50%;
  }
  &-right {
    flex-basis: 50%;
  }
  &__title {
    font-size: 74px;
    font-weight: 300;
    color: inherit;
    line-height: 55px;
    margin-bottom: 52px;
    font-family: 'Poppins', sans-serif;
  }
  &__description {
    font-weight: 400;
    font-size: 30px;
    line-height: 55px;
    margin-bottom: 66px;
    letter-spacing: 8px;
    & > a {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #1e2832;
    color: white;
    width: 223px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #1e2832d3;
    }
    & > p {
      color: inherit;
      font-weight: 400;
      font-size: 29px;
      line-height: 55px;
      font-family: 'Roboto';
    }
  }

  &-right {
    width: 424px;
    height: 542px;
    border: 2px solid #afafaf;
    border-radius: 160px 0px;
    margin-top: 100px;
    position: relative;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 160px 0px;
      position: absolute;
      top: -20px;
      left: -20px;
      filter: brightness(0.8);
      transition: all 0.2s ease;
    }

    &:hover > img {
      top: 0px;
      left: 0px;
      filter: drop-shadow(2px 4px 6px black);
    }
    &:hover {
      border: 2px solid wheat;
    }
  }

  // Media Queries

  @media (max-width: 1100px) {
    flex-direction: column;
    margin-top: 100px;
    &-left {
      text-align: center;
    }
    &__title {
      font-size: 70px;
    }
    &__description {
      font-size: 26px;
      letter-spacing: 0px;
      line-height: 1.5;
    }
    &__button {
      width: 100%;
    }

    &-right {
      flex: none;
      margin: 0 auto;
      width: 90%;
      & > img {
        top: 0px;
        left: 0px;
      }
    }
  }

  @media (max-width: 600px) {
    &-right {
      display: none;
    }
  }
}
