.card {
  height: 400px;
  background-color: antiquewhite;
  overflow: hidden;
  position: relative;
  &-top {
    width: 100%;
    height: 100%;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-bottom {
    background-color: #1e2832;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 16px 13px;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;

    &-left {
      display: flex;
      align-items: center;
      gap: 20px;
      color: white;
      &__icon {
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          color: yellow;
        }
      }
    }
    &-right {
      display: inherit;
      position: absolute;
      height: 100%;
      width: fit-content;
      right: 0px;
      padding: 0px 16px;
      transition: all 0.3s ease;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        background-color: coral;
      }
      &-add-to-cart {
        display: flex;
        align-items: center;
        gap: 11px;
        color: white;
        text-decoration: none;
        & > p {
          font-weight: 400;
          font-size: 18px;
        }
      }
    }
    @media (max-width: 350px) {
      flex-direction: column;
      gap: 20px;
      bottom: -100%;
      transition: all 0.3s ease;
      &-right {
        position: relative;
        padding: 10px;
      }
    }
  }
  @media (max-width: 350px) {
    &:hover &-bottom {
      bottom: 0%;
    }
  }
}
